h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #0099CC;
}

h2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #0066FF;
}

p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #0000FF;
  line-height: 1.8em;
  text-align: justify;
}

#navigation {
  background-color: lightgrey;
}

div#navigation a:link {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #0000FF;
}

div#navigation a:visited {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #0000FF;
}

div#navigation a:hover {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000099;
  background: #FFFF00;
}

h3 {
  font-family: Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #FF0000;
}

body {
  background-color: #FFCC99;
}